body {
    overflow: hidden;
}

.text-btc {
  color: #FAB915;
  fill: #FAB915;
}

.text-eth {
  color: #324D5C;
  fill: #324D5C;
}

.text-ltc {
  color: #46B29D;
  fill: #46B29D;
}

svg path.line {
  stroke: #FAB915;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}

svg .dot {
  opacity: 1;
  stroke: #FAB915;
  stroke-width: 1px;
  cursor: pointer;
  fill: #fff;
}

svg .dot:hover {
  fill: #FAB91555;
}

svg line.timeline {
  stroke-width: 1;
  stroke: #00000050;
}

svg .vertical-line {
  stroke: none;
}

svg .vertical-line.active {
  stroke: #00000050;
}

svg .vertical-line.active-event {
  stroke: #FAB915;
}

svg .dot.active {
  stroke-width: 2px;
  r: 10;
  transition: r 0.2s ease;
}

svg .axis>.tick>line {
  shape-rendering: crispEdges;
  stroke: #00000050;
}

#event-box {
  width: 400px;
  height: 200px;
  pointer-events: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#event-box .title, #event-box .title>div {
  height: 30px;
}
